n8n_workflows/workflow_05_supplement_protocol.json
{
  "name": "HHH Workflow 5: Supplement Protocol Builder",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "id": "c1f05001-0000-4000-8000-000000000001",
      "name": "Protocol Request Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [0, 0],
      "webhookId": "c1f05001-aaaa-4000-8000-000000000001",
      "parameters": {
        "formTitle": "Supplement Protocol Request (Internal)",
        "formDescription": "Internal educator form. Use the client code only. Do not enter the client's name, date of birth, or any direct identifiers. Age range is sufficient.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Client Code",
              "fieldType": "text",
              "requiredField": true
            },
            {
              "fieldLabel": "Age Range",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "20s" },
                  { "option": "30s" },
                  { "option": "40s" },
                  { "option": "50s" },
                  { "option": "60s" },
                  { "option": "70s and up" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Sex",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Female" },
                  { "option": "Male" },
                  { "option": "Not specified" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Key Symptoms",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Relevant Labs (functional ranges)",
              "fieldType": "textarea",
              "requiredField": false
            },
            {
              "fieldLabel": "Current Medications",
              "fieldType": "textarea",
              "requiredField": false
            },
            {
              "fieldLabel": "Health Goals",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Dietary Restrictions",
              "fieldType": "text",
              "requiredField": false
            }
          ]
        },
        "options": {}
      },
      "notes": "Keep this form internal. Do not link it from any public page. Protect the URL and share it with educators only."
    },
    {
      "id": "c1f05001-0000-4000-8000-000000000002",
      "name": "Assign Protocol ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst protocolId = 'SP-' + String(Math.floor(10000 + Math.random() * 90000));\nreturn [{\n  json: {\n    protocolId,\n    clientCode: j['Client Code'],\n    ageRange: j['Age Range'],\n    sex: j['Sex'],\n    symptoms: j['Key Symptoms'],\n    labs: j['Relevant Labs (functional ranges)'] || 'None provided',\n    medications: j['Current Medications'] || 'None reported',\n    goals: j['Health Goals'],\n    dietaryRestrictions: j['Dietary Restrictions'] || 'None reported',\n    submissionDate: new Date().toISOString().slice(0, 10)\n  }\n}];"
      }
    },
    {
      "id": "c1f05001-0000-4000-8000-000000000003",
      "name": "Generate Protocol Draft",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [440, 0],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a clinical support assistant for a licensed PharmD functional medicine educator. You draft supplement protocol suggestions for practitioner review. You never communicate with clients directly. Output a ranked supplement protocol based on the symptom picture, labs (interpreted with functional ranges), medications, and goals provided.\n\nFor each suggested supplement include: 1) Name and form. 2) Typical dose range. 3) Rationale tied to the stated symptoms or labs. 4) Drug-supplement interaction check against the listed medications, with CYP450 notes where relevant. 5) Suggested timing.\n\nStrict FTC rule: use structure/function language only. Allowed: 'supports healthy iron metabolism'. Not allowed: 'treats iron deficiency anemia'. Never use disease claims, treatment claims, cure claims, or prevention claims.\n\nStrict compliance rules: This is an educational draft for practitioner review, not medical advice, and not a prescription. State that at the top. Do not diagnose. Respect any dietary restrictions provided. Do not use the em dash character anywhere in your output. End with a short summary list of any interaction warnings found, or state that none were identified."
            },
            {
              "role": "user",
              "content": "=Protocol ID: {{ $json.protocolId }}\nClient Code: {{ $json.clientCode }}\nAge Range: {{ $json.ageRange }}\nSex: {{ $json.sex }}\nKey Symptoms: {{ $json.symptoms }}\nRelevant Labs: {{ $json.labs }}\nCurrent Medications: {{ $json.medications }}\nHealth Goals: {{ $json.goals }}\nDietary Restrictions: {{ $json.dietaryRestrictions }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "[REPLACE_WITH_YOUR_CREDENTIAL]",
          "name": "OpenAI [REPLACE_WITH_YOUR_CREDENTIAL]"
        }
      }
    },
    {
      "id": "c1f05001-0000-4000-8000-000000000004",
      "name": "Email Draft To Dr Hunter",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [660, 0],
      "parameters": {
        "sendTo": "[REPLACE_WITH_DR_HUNTER_EMAIL]",
        "subject": "=Protocol Draft {{ $('Assign Protocol ID').item.json.protocolId }} - Review Required",
        "emailType": "text",
        "message": "=A new supplement protocol draft is ready for your review.\n\nProtocol ID: {{ $('Assign Protocol ID').item.json.protocolId }}\nClient Code: {{ $('Assign Protocol ID').item.json.clientCode }}\nAge Range: {{ $('Assign Protocol ID').item.json.ageRange }}\nSubmitted: {{ $('Assign Protocol ID').item.json.submissionDate }}\n\n----------------------------------------\n\n{{ $json.message.content }}\n\n----------------------------------------\n\nThis draft was generated for practitioner review. Do not forward to the client until you have reviewed and approved it.",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "[REPLACE_WITH_YOUR_CREDENTIAL]",
          "name": "Gmail [REPLACE_WITH_YOUR_CREDENTIAL]"
        }
      }
    },
    {
      "id": "c1f05001-0000-4000-8000-000000000005",
      "name": "Log Protocol Request",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 0],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "[REPLACE_WITH_YOUR_GOOGLE_SHEET_ID]",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Protocol Requests",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Protocol ID": "={{ $('Assign Protocol ID').item.json.protocolId }}",
            "Client Code": "={{ $('Assign Protocol ID').item.json.clientCode }}",
            "Age Range": "={{ $('Assign Protocol ID').item.json.ageRange }}",
            "Practitioner": "Dr. Hunter",
            "Submission Date": "={{ $('Assign Protocol ID').item.json.submissionDate }}",
            "Protocol Status": "Pending Review",
            "Review Date": ""
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "[REPLACE_WITH_YOUR_CREDENTIAL]",
          "name": "Google Sheets [REPLACE_WITH_YOUR_CREDENTIAL]"
        }
      },
      "notes": "Per the de-identification rule, the protocol text itself is not stored in the sheet. Only the tracking metadata is logged."
    }
  ],
  "connections": {
    "Protocol Request Form": {
      "main": [
        [
          {
            "node": "Assign Protocol ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Protocol ID": {
      "main": [
        [
          {
            "node": "Generate Protocol Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Protocol Draft": {
      "main": [
        [
          {
            "node": "Email Draft To Dr Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Draft To Dr Hunter": {
      "main": [
        [
          {
            "node": "Log Protocol Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
